/* size */
$p: 100%
$padding: 15px
$width: 1120px
$width-padding: $width + $padding*2

$width-header-body__logo: 245px
$width-header-body__main-menu: 875px
$width-main-slider__block: 460px/$width
$width-main-sec-3__side_left: 340px
$width-main-sec-3__side_right: 730px
$width-vacancy-banner__side_left: 880px
$width-content: 828px
/* font-size */


/* color */

$c-gray-1: #f5f5f5
$c-gray-2: #f0f0f0
$c-gray-3: #e6e6e6
$c-gray-4: #ccc
$c-gray-5: #999
$c-gray-6: #666
$c-gray-7: #595959
$c-gray-8: #333


$c-green-1: #c9de8e
$c-green-2: #87b94b
$c-green-3: #6c9141

$c-yellow-1: #f7d454
$c-yellow-2: #e6c13c
$c-yellow-3: #d4b02f
$c-yellow-4: #bd9c24