// BEGIN FOOTER 
footer
	.footer-head
		.container
			.logo.footer-head__logo
				a(href="/").logo__link
					img(src="img/logo-green.png", alt="")
			.footer-head__phone
				a(href="tel:+74942360249").footer-head__phone-link.regular-text
					i.icon.icon_phone.footer-head__phone-icon
					span.footer-head__phone-text +7 (4942) 360-249
			.city.footer-head__city
				span.city__name Кострома
				.city_select
					select(name="city").select.select_no_bg
						option(value="0") сменить
						option(value="0") сменить
						option(value="0") сменить
						option(value="0") сменить
			.footer-head__addres
				i.icon.icon_addres.footer-head__icon-addres
				span.footer-head__text-addres ул.Князева, д.2
			.footer-head__clearfix
			form(action="/").search.footer-head__search
				input(type="text" placeholder="Поиск по сайту").input.input_width_100.input_search
				button(type="submit").search__button
					i.icon.icon_search.search__icon
	.footer-body
		.container
			.footer-block.footer-block_company
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Наша компания
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link О компании
					li.footer-block__item
						a(href="#").footer-block__link Новости
					li.footer-block__item
						a(href="#").footer-block__link Преимущества
					li.footer-block__item
						a(href="#").footer-block__link Земельный фонд
					li.footer-block__item
						a(href="#").footer-block__link Холдинг в цифрах
					li.footer-block__item
						a(href="#").footer-block__link Корпоративное управление
					li.footer-block__item
						a(href="#").footer-block__link Руководство
					li.footer-block__item
						a(href="#").footer-block__link История
			.footer-block.footer-block_work
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Направления работы
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link Растениеводство
					li.footer-block__item
						a(href="#").footer-block__link Семеноводство
					li.footer-block__item
						a(href="#").footer-block__link Животноводство
					li.footer-block__item
						a(href="#").footer-block__link Элеватор
					li.footer-block__item
						a(href="#").footer-block__link Лаборатория
					li.footer-block__item
						a(href="#").footer-block__link Транспорт и логистика
					li.footer-block__item
						a(href="#").footer-block__link Персонал
			.footer-block.footer-block_corporation
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Корпоративная ответственность
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link Производственная безопасность
					li.footer-block__item
						a(href="#").footer-block__link Охрана окружающей среды
					li.footer-block__item
						a(href="#").footer-block__link Развитие персонала
					li.footer-block__item
						a(href="#").footer-block__link Сотрудничество с регионами
					li.footer-block__item
						a(href="#").footer-block__link Социальная политика
					li.footer-block__item
						a(href="#").footer-block__link Благотворительность
					li.footer-block__item
						a(href="#").footer-block__link Бизнес-этика
			.footer-block.footer-block_suppliers
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Поставщикам
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link Подать заявку на участие
					li.footer-block__item
						a(href="#").footer-block__link Нормативные документы
					li.footer-block__item
						a(href="#").footer-block__link Планируемые закупки
					li.footer-block__item
						a(href="#").footer-block__link Текущие закупки
			.footer-block.footer-block_investor
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Инвесторам
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link Отчетность ООО «Парус Агро Груп»
					li.footer-block__item
						a(href="#").footer-block__link Учредительные документы 
			.footer-block.footer-block_career
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Карьера
				ul.footer-block__list
					li.footer-block__item
						a(href="#").footer-block__link Вакансии
					li.footer-block__item
						a(href="#").footer-block__link Отправить резюме
			.footer-block.footer-block_contact
				h3.footer-block__title.regular-text
					a(href="#").footer-block__link-title Контакты


	.footer-footer
		.container
			.copyright
				span.copyright__title.regular-text © Parus Agro Group, 2015
				span.copyright__description Все права защищены. Копирование информации с сайта  только по запросу.
// END FOOTER 