// BEGIN HEADER 
header.size_item
	.header-head
		.container
			.header-head__side
				span.header-head__title Агропромышленный холдинг
			.header-head__side.header-head__side_right
				a(href="#").header-head__report-link
					i.icon.icon_info.header-head__info-icon
					span.header-head__report-text Годовой отчет 2014г
				.lang.in-head
					a(href="#").lang__link.active рус
					a(href="#").lang__link en
	.header-body
		.container
			.logo.header-body__logo
				a(href="/").logo__link
					img(src="img/logo_rt.png", alt="").logo__img
			.main-menu-container.header-body__main-menu
				.hamburger
					.hamburger__text-header Меню
						span.hamburger__line.hamburger__line-1
						span.hamburger__line.hamburger__line-2
						span.hamburger__line.hamburger__line-3
				ul.main-menu
					li.main-menu__item.main-menu__item_main-sub-menu.active
						a(href="#").main-menu__link О компании
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link О компании
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link История
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Структура компании
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Руководство
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Персонал
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Земельный фонд
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Транспорт и логистика
					li.main-menu__item.main-menu__item_main-sub-menu
						a(href="#").main-menu__link Направление работы
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Растениеводство
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Семеноводство
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Животноводство
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Элеватор
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Лаборатория
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Транспорт и логистика
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Персонал
					li.main-menu__item.main-menu__item_main-sub-menu
						a(href="#").main-menu__link Корпоротивная ответственность
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Производственная безопасность
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Охрана окружающей среды
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Развитие персонала
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Сотрудничество с регионами
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Социальная политика
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Благотворительность
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Бизнес-этика
					li.main-menu__item.main-menu__item_main-sub-menu
						a(href="#").main-menu__link Постовщивкам
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Подать заявку на участие
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Нормативные документы
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Планируемые закупки
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Текущие закупки
					li.main-menu__item.main-menu__item_main-sub-menu
						a(href="#").main-menu__link Инвесторам
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Отчетность ООО «Парус Агро Груп»
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Учредительные документы 
					li.main-menu__item.main-menu__item_main-sub-menu
						a(href="#").main-menu__link Карьера
						ul.main-sub-menu
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Вакансии
							li.main-sub-menu__item.regular-text
								a(href="#").main-sub-menu__link Отправить резюме
					li.main-menu__item
						a(href="#").main-menu__link Контакты
				.still
					.still__button ЕЩЁ
						ul.still__list
// END HEADER 