// BEGIN HEADER 
header
	.header-head
		.container
			.header-head__side
				span.header-head__title Агропромышленный холдинг
			.header-head__side.header-head__side_right
				a(href="#").header-head__report-link
					i.icon.icon_info.header-head__info-icon
					span.header-head__report-text Годовой отчет 2014г
				.lang
					a(href="#").lang__link.active рус
					a(href="#").lang__link en
	.header-body
		.container
			.logo.header-body__logo
				a(href="/").logo__link
					img(src="img/logo.png", alt="")
			ul.main-menu.header-body__main-menu
				li.main-menu__item.main-menu__item_main-sub-menu.active
					a(href="#").main-menu__link О компании
					ul.main-sub-menu
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link О компании
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link История
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link Структура компании
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link Руководство
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link Персонал
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link Земельный фонд
						li.main-sub-menu__item.regular-text
							a(href="#").main-sub-menu__link Транспорт и логистика
				li.main-menu__item
					a(href="#").main-menu__link Направление работы
				li.main-menu__item
					a(href="#").main-menu__link Корпоротивная ответственность
				li.main-menu__item
					a(href="#").main-menu__link Постовщивкам
				li.main-menu__item
					a(href="#").main-menu__link Инвесторам
				li.main-menu__item
					a(href="#").main-menu__link Карьера
				li.main-menu__item
					a(href="#").main-menu__link Контакты
// END HEADER 