.persons-item
	img(src="img/person.jpg", alt="").persons-item__photo
	p.persons-item__fio Максим Владимирович Полетаев
	p.persons-item__position Первый заместитель Председателя Правления
	a(href="#").link.link_next Подробнее