// BEGIN VACANCY-BANNER 
- var divClass = null

if isGray
	- divClass = "section-gray"
.vacancy-banner(class=divClass)
	.container
		.vacancy-banner__side.vacancy-banner__side_left
			h2.vacancy-banner__title Приглашаем к сотрудничеству
			p.vacancy-banner__text Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий. Предусматривающий применение комбинированных схем различных препаратов ведущих мировых.
		.vacancy-banner__side.vacancy-banner__side_right
			a(href="#").button.button_green Партнерам
				i.icon.icon_next.button_icon
// END VACANCY-BANNER 