extends ./template/template.jade

block title
	title Агропромышленный холдинг

block content

	// BEGIN MAIN-SLIDER 
	.main-slider-container
		.main-slider
			.main-slider__item
				.container
					.main-slider__block
						h2.main-slider__title Масштабное Растеневодство
						p.main-slider__description Выращиваем пшеницу, ячмень, кукурузу, пдсолнечник и другие культуры.
						a(href="#").button.button_no_bg.main-slider__button Узнать подробнее
							i.icon.icon_next.button_icon
			.main-slider__item
				.container
					.main-slider__block
						h2.main-slider__title Масштабное Растеневодство
						p.main-slider__description Выращиваем пшеницу, ячмень, кукурузу, пдсолнечник и другие культуры.
						a(href="#").button.button_no_bg.main-slider__button Узнать подробнее
							i.icon.icon_next.button_icon
			.main-slider__item
				.container
					.main-slider__block
						h2.main-slider__title Масштабное Растеневодство
						p.main-slider__description Выращиваем пшеницу, ячмень, кукурузу, пдсолнечник и другие культуры.
						a(href="#").button.button_no_bg.main-slider__button Узнать подробнее
							i.icon.icon_next.button_icon
			.main-slider__item
				.container
					.main-slider__block
						h2.main-slider__title Масштабное Растеневодство
						p.main-slider__description Выращиваем пшеницу, ячмень, кукурузу, пдсолнечник и другие культуры.
						a(href="#").button.button_no_bg.main-slider__button Узнать подробнее
							i.icon.icon_next.button_icon
		ul.main-slider-nav
			li.main-slider-nav__item.regular-text.active Растеневодство
			li.main-slider-nav__item.regular-text Семениводство
			li.main-slider-nav__item.regular-text Животноводство
			li.main-slider-nav__item.regular-text Элеватор
	// END MAIN-SLIDER 

	// BEGIN MAIN-SEC-1 
	.main-sec-1
		.container
			h1.main-sec-1__title «Парус Агро Групп» - крупный российский агропромышленный холдинг,
			p.main-sec-1__description управляющий сельскохозяйственными активами в <span class="green-text bold-text">Краснодарском крае, Ставрополье и Адыгее.</span><br> Предприятие успешно работает с 2009 года, добившись за это время значительных показателей.
			.hr.hr_double.main-sec-1__hr
			.size-items
				.size-item
					a(href="#").size-item__link
						.size-item__image-round
						.size-item__hover
							h3.size-item__title 80 000 гектар
							p.size-item__description.medium-text Земельный фонд
							.size-item__hr
							p.size-item__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.size-item
					a(href="#").size-item__link
						.size-item__image-round
						.size-item__hover
							h3.size-item__title 7 500 голов
							p.size-item__description.medium-text Животноводческий фонд
							.size-item__hr
							p.size-item__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.size-item
					a(href="#").size-item__link
						.size-item__image-round
						.size-item__hover
							h3.size-item__title 210 000 тонн
							p.size-item__description.medium-text Земельный фонд
							.size-item__hr
							p.size-item__text Складской фонд «Парус Агро Групп» - это более 210000 тонн зерна, которые вмещают элеваторы  холдинга.
				.size-item
					a(href="#").size-item__link
						.size-item__image-round
						.size-item__hover
							h3.size-item__title 2 000 человек
							p.size-item__description.medium-text Работающий персонал
							.size-item__hr
							p.size-item__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
	// END MAIN-SEC-1 

	// BEGIN MAIN-SEC-2 
	.main-sec-2
		.container
			.main-sec-2__side.main-sec-2__side_left
				.main-sec-2__slider
					.main-sec-2__slide
						img(src="img/sec-21.jpg", alt="")
					.main-sec-2__slide
						img(src="img/sec-21.jpg", alt="")
					.main-sec-2__slide
						img(src="img/sec-21.jpg", alt="")
				span.main-sec-2__nav.main-sec-2__nav_prev
				span.main-sec-2__nav.main-sec-2__nav_next
			.main-sec-2__side.main-sec-2__side_right
				h3.main-sec-2__title «Парус Агро Групп» входит в десятку ведущих аграрных компаний Юга России
				.hr.hr_double
				p.main-sec-2__text Лидирующих позиций Группа достигла благодаря сочетанию нескольких факторов: <span class="green-text bold-text">удачному географическому расположению</span> земельных активов, <span class="green-text bold-text">благоприятному климату</span> и грамотно выбранной <span class="green-text bold-text">модели управления.</span>
				a(href="#").button.button_green.main-sec-2__button О компании
					i.icon.icon_next.button_icon
				
				a(href="#").link.regular-text
					i.icon.icon_info.link__icon
					span.link__text Годовой отчет 2014г
				a(href="#").link.regular-text
					i.icon.icon_doc.link__icon
					span.link__text Презентация в формате PDF
	// END MAIN-SEC-2 

	// BEGIN MAIN-SEC-3 
	.main-sec-3
		.container
			.main-sec-3__side.main-sec-3__side_left
				.main-infor
					h4.main-infor__title Информация на сегодня
					.main-infor__block
						.main-infor__side.main-infor__side_left
							span.main-infor__time.regular-text 14:18
						.main-infor__side.main-infor__side_right
							span.main-infor__date.regular-text Среда, 18 ноября 2015
					.main-infor__block
						.main-infor__side.main-infor__side_left
							span.main-infor__value.bold-text.green-text + 18 C
						.main-infor__side.main-infor__side_right
							span.main-infor__desc Температура воздуха в Ставропольском крае
					.main-infor__block
						.main-infor__side.main-infor__side_left
							span.main-infor__value.bold-text.green-text 111 USD
						.main-infor__side.main-infor__side_right
							span.main-infor__desc Цены на пшеницу на Лондонской бирже
					.main-infor__block
						.main-infor__side.main-infor__side_left
							span.main-infor__value.bold-text.green-text 15 дней
						.main-infor__side.main-infor__side_right
							span.main-infor__desc До закрытия тендера по поставкам семян пшеницы на 2016 год
					.main-infor__block
						.main-infor__side.main-infor__side_left
							span.main-infor__value.bold-text.green-text 209 USD
						.main-infor__side.main-infor__side_right
							span.main-infor__desc Цены на говядину до 23.15.15г.
			.main-sec-3__side.main-sec-3__side_right
				.main-news
					.main-news__head
						.main-news__head-side.main-news__head-side_left
							h2.main-news__title Новости холдинга
						.main-news__head-side.main-news__head-side_right
							a(href="#").main-news__link-all Все новости
								i.icon.icon_next.main-news__link-icon
					.hr.hr_double
					.news-articles
						.news-article
							a(href="#").news-article__link
								img(src="img/news1.jpg", alt="").news-article__image
								h3.news-article__title.medium-text «Парус Агро Групп» вошел в ТОП-25 крупнейших сельхозгрупп России
								span.news-article__date 28 октября 2015 
								p.news-article__text Управляет  сельскохозяйственными  активами  в  Краснодарском  крае, Ставрополье  и  Адыгее ...
						.news-article
							a(href="#").news-article__link
								img(src="img/news2.jpg", alt="").news-article__image
								h3.news-article__title.medium-text Завершен сбор урожая пшеницы в Ставропольском крае
								span.news-article__date 21 октября 2015 
								p.news-article__text Входит в финальную стадию сбор урожая пшеницы в Ставрополье. Объем зерновых ...
	// END MAIN-SEC-3 
	- var isGray = true
	include ./template/vacancy-banner.jade


