extends ./template/template.jade

block title
	title Руководство

block content
	// BEGIN SLIDE-TOP 
	.slide-top(style="background-image: url('img/leadership.jpg')")
	// END SLIDE-TOP 

	// BEGIN SUB-MENU 
	.container
		ul.sub-menu
			li.sub-menu__item
				a(href="#").sub-menu__link О компании
			li.sub-menu__item
				a(href="#").sub-menu__link История
			li.sub-menu__item
				a(href="#").sub-menu__link Структура компании
			li.sub-menu__item
				a(href="#").sub-menu__link.active Руководство
			li.sub-menu__item
				a(href="#").sub-menu__link Персонал
			li.sub-menu__item
				a(href="#").sub-menu__link Земельный фонд
			li.sub-menu__item
				a(href="#").sub-menu__link Транспорт и логистика
		.hr.hr_double
	// END SUB-MENU 


	// BEGIN TOP-SECTION 
	.top-section
		.container
			.side.side_3070_left
					img(src="img/leadership-top.jpg", alt="")
			.side.side_3070_right
				h1.top-section__title Руководство
				.hr.hr_double
				p.top-section__text Агропромышленный холдинг «Парус Агро Груп» был создан в 2009 году в Новокубанском районе Краснодарского края. Сегодня он входит в <span class="bold-text green-text">ТОП-10 крупнейших агрокомпаний Южного Федерального округа.</span> Группа управляет сельскохозяйственными активами в Краснодарском крае, Ставрополье и Адыгее.
				a(href="#").link.regular-text
					i.icon.icon_info.link__icon
					span.link__text Годовой отчет 2014г
				a(href="#").link.regular-text
					i.icon.icon_doc.link__icon
					span.link__text Презентация в формате PDF
	// END TOP-SECTION 

	// BEGIN PERSONS 
	.persons.section-gray
		.container
			.head.head_center
				h2.h2.h2_26.head_h2 Руководящий состав <br>ООО «Адыгейское» Теучежский район
				.hr.hr_double
			.persons__list
				- var personDescriptionIdex = 1;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				- personDescriptionIdex++;
				include ./template/persons-item.jade
				.person-descriptions
					.person-description#person-description-1
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-2
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-3
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-4
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-5
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-6
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-7
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.
					.person-description#person-description-8
						//- TODO CLOSE BUTTON
						span.person-description__close &#215;
						.side.side_50.side_50_left
							.person-description__head
								h2.h2.h2_20.person-description__h2 Максим Владимирович Полетаев
								p.person-description__position Первый заместитель Председателя Правления
								.hr.hr_double.hr_ccc
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза
						.side.side_50.side_50_right
							p.person-description__text Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза превышает общероссийские значения. А тот факт, что земельный фонд расположен в трех разных климатических зонах – полесье, лесостепи, предгорье, позволяет «Парус Агро Груп» эффективнее использовать технику и диверсифицировать погодные риски.


	// END PERSONS 

