extends ./template/template.jade

block title
	title Руководство

block content
	// BEGIN SLIDE-TOP 
	.slide-top(style="background-image: url('img/leadership.jpg')")
	// END SLIDE-TOP 

	// BEGIN SUB-MENU 
	.container
		ul.sub-menu
			li.sub-menu__item
				a(href="#").sub-menu__link О компании
			li.sub-menu__item
				a(href="#").sub-menu__link История
			li.sub-menu__item
				a(href="#").sub-menu__link Структура компании
			li.sub-menu__item
				a(href="#").sub-menu__link.active Руководство
			li.sub-menu__item
				a(href="#").sub-menu__link Персонал
			li.sub-menu__item
				a(href="#").sub-menu__link Земельный фонд
			li.sub-menu__item
				a(href="#").sub-menu__link Транспорт и логистика
		.hr.hr_double
	// END SUB-MENU 


	// BEGIN LEADERSHIP-SEC-1
	.top-section
		.container
			.side.side_3070_left
					img(src="img/leadership-top.jpg", alt="")
			.side.side_3070_right
				h1.top-section__title Руководство
				.hr.hr_double
				p.top-section__text Агропромышленный холдинг «Парус Агро Груп» был создан в 2009 году в Новокубанском районе Краснодарского края. Сегодня он входит в <span class="bold-text green-text">ТОП-10 крупнейших агрокомпаний Южного Федерального округа.</span> Группа управляет сельскохозяйственными активами в Краснодарском крае, Ставрополье и Адыгее.
				a(href="#").link.regular-text
					i.icon.icon_info.link__icon
					span.link__text Годовой отчет 2014г
				a(href="#").link.regular-text
					i.icon.icon_doc.link__icon
					span.link__text Презентация в формате PDF
	// END LEADERSHIP-SEC-1

	// BEGIN PERSONS 
	.persons.section-gray
		.container
			.head.head_center
				h2.h2.h2_26.head_h2 Руководящий состав <br>ООО «Адыгейское» Теучежский район
				.hr.hr_double
			.persons__list
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				.person__description
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				include ./template/persons-item.jade
				include ./template/persons-item.jade




	// END PERSONS 

