extends ./template/template.jade

block title
	title Закупки

block content
	// BEGIN SLIDE-TOP
	.slide-top
	// END SLIDE-TOP

	// BEGIN SUB-MENU
	.container
		ul.sub-menu
			li.sub-menu__item
				a(href="#").sub-menu__link Подать заявку на участие
			li.sub-menu__item
				a(href="#").sub-menu__link Нормативные документы
			li.sub-menu__item
				a(href="#").sub-menu__link.active Закупки
		.hr.hr_double
	// END SUB-MENU

	// BEGIN CONTENT-SIDEBAR 
	.content-sidebar
		.container
			// BEGIN SIDEBAR 
			.sidebar
				a(href="#").sidebar__title Закупки
				ul.sidebar__menu
					li.sidebar__item
						a(href="#").sidebar__link.active Текущие закупки
					li.sidebar__item
						a(href="#").sidebar__link Планируемые закупки
			// END SIDEBAR 
			// BEGIN CONTENT 
			.content
				h1.content__title Текущие закупки
				.filter
					.filter__line
						.filter__side.filter__side_left
							label(for="").filter__label Введите ключевое слово
						.filter__side.filter__side_right
							input(type="text" placeholder="Например, пшеница").input.input_width_100
					.filter__line
						.filter__side.filter__side_left
							label(for="").filter__label Выберите предмет закупки
						.filter__side.filter__side_right
							select(name="").select.wide.select_input
								option(value="1") Все
								option(value="1") Все
								option(value="1") Все
								option(value="1") Все
					.filter__line
						.filter__side.filter__side_left
							label(for="").filter__label Выберите хозяйство
						.filter__side.filter__side_right
							select(name="").select.wide.select_input
								option(value="1") Все
								option(value="1") Все
								option(value="1") Все
								option(value="1") Все
					.filter__line
						.filter__side.filter__side_left
						.filter__side.filter__side_right
							button(type="submit").button.button_green Искать
								i.icon.icon_next.button_icon
				.posts
					.post
						h3.post__title Трактор для сельхозяйственных работ. 15 единиц
						span.post__date Прием заявок до 21.03.16 12.00
						.post__text
							p.post__paragraph Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий. Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза 
						a(href="#").post__all подробнее
					.post
						h3.post__title Трактор для сельхозяйственных работ. 15 единиц
						span.post__date Прием заявок до 21.03.16 12.00
						.post__text
							p.post__paragraph Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий. Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза 
						a(href="#").post__all подробнее
					.post
						h3.post__title Трактор для сельхозяйственных работ. 15 единиц
						span.post__date Прием заявок до 21.03.16 12.00
						.post__text
							p.post__paragraph Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий. Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза 
						a(href="#").post__all подробнее
					.post
						h3.post__title Трактор для сельхозяйственных работ. 15 единиц
						span.post__date Прием заявок до 21.03.16 12.00
						.post__text
							p.post__paragraph Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий. Большинство земель холдинга – высокоплодородные черноземы. В сочетании с преимущественно благоприятным климатом это обеспечивает стабильно высокую урожайность культур. Земельные активы «Парус Агро Груп» расположены в трех климатических зонах –  высокие показатели урожайности, она в 2-3 раза 
						a(href="#").post__all подробнее

			// END CONTENT 
	// END CONTENT-SIDEBAR 
	- var isGray = true
	include ./template/vacancy-banner.jade
