extends ./template/template.jade

block title
	title Направление работы

block content
	// BEGIN SLIDE-TOP 
	.slide-top
	// END SLIDE-TOP 

	// BEGIN SUB-MENU 
	.sub-menu-wrapper
		.container
			ul.sub-menu
				li.sub-menu__item
					a(href="#").sub-menu__link.active Растениеводство
				li.sub-menu__item
					a(href="#").sub-menu__link Семеноводство
				li.sub-menu__item
					a(href="#").sub-menu__link Животноводство
				li.sub-menu__item
					a(href="#").sub-menu__link Элеватор
			.hr.hr_double
	// END SUB-MENU 

	// BEGIN WORK-SEC-1 
	.work-sec-1
		.container
			.work-sec-1__title
				.work-sec-1__title-img
				h1.work-sec-1__title-text Растениеводство
			p.work-sec-1__text.center-text Основными культурами, выращиваемыми компаниями Группы, являются <span class="bold-text green-text">пшеница, ячмень, кукуруза и подсолнечник</span>, на долю которых приходится более 80% всех посевов. Помимо них также выращиваются сахарная свекла, озимый рапс, соя и кормовые культуры.
			.hr.hr_double.work-sec-1__hr
			.top
				.top__item.top__item_3
					h3.top__title
						span.top_number 732
						|  гектара
					p.top__text 732 Га засеяно для испытания и размножения семян пшеницы и ячменя
				.top__item.top__item_3
					h3.top__title
						span.top_number 144
						|  гектара
					p.top__text 144 Га засеяно для испытания и размножения семян гибридной кукурузы
				.top__item.top__item_3
					h3.top__title
						span.top_number 3
						|  подразделения
					p.top__text 3 семеноводческих хозяйства функционируют в общей структуре холдинга
	// END WORK-SEC-1 

	// BEGIN WORK-SEC-2 
	.work-sec-2.section-gray
		.container
			.work-sec-2__title
				.hr.hr_double.work-sec-2__hr
				h2.h2.h2_26.work-sec-2__h2 Выращиваемые культуры
				.navigation-slider.work-sec-2__nav
					span.navigation-slider__prev
					span.navigation-slider__next
			.slider-works
				.slider-works__item
					.side.side_50.side_50_left
						img(src="img/slider-works.jpg", alt="")
					.side.side_50.side_50_right
						h3.slider-works__title
							i.icon.icon_plant4.slider-works__title-icon
							span.slider-works__title-text Пшеница
						p.slider-works__description.medium-text Пшеница является локомитивной культурой. Занимает более трети посевных площадей агрохолдинга.
						.hr.hr_double
						p.slider-works__text Пшеница является локомотивной культурой в Группе. В 2014 г. на нее приходилось более трети посевных площадей. Для промышленного производства Компания занимается тщательным отбором сортов обладающих стабильно высоким урожаем (не менее 55 ц/га), хорошей адаптивностью к погодным условиям.
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 144Га посевных площадей
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 58 000тн собрано в 2014г.
				.slider-works__item
					.side.side_50.side_50_left
						img(src="img/slider-works.jpg", alt="")
					.side.side_50.side_50_right
						h3.slider-works__title
							i.icon.icon_plant3.slider-works__title-icon
							span.slider-works__title-text Кукуруза
						p.slider-works__description.medium-text Пшеница является локомитивной культурой. Занимает более трети посевных площадей агрохолдинга.
						.hr.hr_double
						p.slider-works__text Пшеница является локомотивной культурой в Группе. В 2014 г. на нее приходилось более трети посевных площадей. Для промышленного производства Компания занимается тщательным отбором сортов обладающих стабильно высоким урожаем (не менее 55 ц/га), хорошей адаптивностью к погодным условиям.
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 144Га посевных площадей
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 58 000тн собрано в 2014г.
				.slider-works__item
					.side.side_50.side_50_left
						img(src="img/slider-works.jpg", alt="")
					.side.side_50.side_50_right
						h3.slider-works__title
							i.icon.icon_plant1.slider-works__title-icon
							span.slider-works__title-text Сахарная свекла
						p.slider-works__description.medium-text Пшеница является локомитивной культурой. Занимает более трети посевных площадей агрохолдинга.
						.hr.hr_double
						p.slider-works__text Пшеница является локомотивной культурой в Группе. В 2014 г. на нее приходилось более трети посевных площадей. Для промышленного производства Компания занимается тщательным отбором сортов обладающих стабильно высоким урожаем (не менее 55 ц/га), хорошей адаптивностью к погодным условиям.
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 144Га посевных площадей
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 58 000тн собрано в 2014г.
				.slider-works__item
					.side.side_50.side_50_left
						img(src="img/slider-works.jpg", alt="")
					.side.side_50.side_50_right
						h3.slider-works__title
							i.icon.icon_plant5.slider-works__title-icon
							span.slider-works__title-text Ячмень
						p.slider-works__description.medium-text Пшеница является локомитивной культурой. Занимает более трети посевных площадей агрохолдинга.
						.hr.hr_double
						p.slider-works__text Пшеница является локомотивной культурой в Группе. В 2014 г. на нее приходилось более трети посевных площадей. Для промышленного производства Компания занимается тщательным отбором сортов обладающих стабильно высоким урожаем (не менее 55 ц/га), хорошей адаптивностью к погодным условиям.
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 144Га посевных площадей
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 58 000тн собрано в 2014г.
				.slider-works__item
					.side.side_50.side_50_left
						img(src="img/slider-works.jpg", alt="")
					.side.side_50.side_50_right
						h3.slider-works__title
							i.icon.icon_plant2.slider-works__title-icon
							span.slider-works__title-text Подсолнечник
						p.slider-works__description.medium-text Пшеница является локомитивной культурой. Занимает более трети посевных площадей агрохолдинга.
						.hr.hr_double
						p.slider-works__text Пшеница является локомотивной культурой в Группе. В 2014 г. на нее приходилось более трети посевных площадей. Для промышленного производства Компания занимается тщательным отбором сортов обладающих стабильно высоким урожаем (не менее 55 ц/га), хорошей адаптивностью к погодным условиям.
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 144Га посевных площадей
						a(href="#").slider-works__link.bold-text.green-text
							span.slides.slider-works__slides
							| 58 000тн собрано в 2014г.


			.work-sec-2__navbar
				.work-sec-2__navbar-item.active
					i.icon.icon_plant4.work-sec-2__navbar-icon
					sapn.work-sec-2__navbar-text Пшеница
				.work-sec-2__navbar-item
					i.icon.icon_plant3.work-sec-2__navbar-icon
					sapn.work-sec-2__navbar-text Кукуруза
				.work-sec-2__navbar-item
					i.icon.icon_plant1.work-sec-2__navbar-icon
					sapn.work-sec-2__navbar-text Сахарная свекла
				.work-sec-2__navbar-item
					i.icon.icon_plant5.work-sec-2__navbar-icon
					sapn.work-sec-2__navbar-text Ячмень
				.work-sec-2__navbar-item
					i.icon.icon_plant2.work-sec-2__navbar-icon
					sapn.work-sec-2__navbar-text Подсолнечник
	// END WORK-SEC-2 


	// BEGIN WORK-SEC-3 
	.section-double
		.container
			.side.side_50.side_50_left
				.head
					h2.h2.h2_26.head_h2 В тесном контакте с наукой
					.hr.hr_double
				p.text.medium-text По вопросам размножения семян пшеницы и ячменя на протяжении многих Компания активно сотрудничает с рядом научно-исследовательских институтов  сельского хозяйства России и Украины: Краснодарским НИИ им. П.П. Лукьяненко, ГНУ Ставропольский НИИСХ и Одесским селекционно-генетическим институтом.

				p.text Ежегодно для размножения в институтах приобретаются оригинальные семена новых сортов пшеницы и ячменя, в последующий год из которых Компания получает семена элиты и первой репродукции для дальнейшего использования в собственном производстве и реализации сторонним сельхозпредприятиям.
			.side.side_50.side_50_right
				img(src="img/work-sec-3.jpg", alt="")
	// END WORK-SEC-3 

	// BEGIN WORK-SEC-4 
	.work-sec-4.section-gray
		.container
			.head.head_center
				h2.h2.h2_26.head_h2 Лучшие сорта, выращиваемые холдингом
				.hr.hr_double
			p.work-sec-4__description.center-text Ежегодно составляется оптимальный план севооборота для каждой климатической зоны и подбирается сочетание культур таким образом, чтобы избежать истощения почв и низкого урожая согласно прогноза спроса и предложения на разные виды сельхозпродукции на внутреннем и международном рынках.
			.slider-culture__navigation
				.navigation-slider.slider-culture__nav
					span.navigation-slider__prev
					span.navigation-slider__next
			.slider-culture
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
				.slider-culture__item
					.slider-culture__hover
						h3.slider-culture__title Тарасовская<br> остистая
						p.slider-culture__text Сорт отличается высоким качеством зерна, позволяет получать до 95ц зерна с гектара .
	// END WORK-SEC-4 

	// BEGIN SECTION-3070 
	.section-3070
		.container
			.side.side_3070_left
				img(src="img/work-sec-5.jpg", alt="")
			.side.side_3070_right
				.head
					h2.h2.h2_26.head_h2 Последние достижения
					.hr.hr_double
				p.text.medium-text Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных мероприятий
				p.text Предусматривающий применение комбинированных схем различных препаратов ведущих мировых производителей: Syngenta, Bayer, BASF. Их инновационные средства защиты, полученные в результате передовых научных разработок, позволяют оптимизировать технологии ведения сельскохозяйственных работ и снижать затраты применения СЗР на 1 га посевной площади. Сегодня в Холдинге используется порядка 100 наименований средств защиты растений и микроудобрений.
	// END SECTION-3070 


	//- TODO Переименовать блок, такой же в land
	// BEGIN SECTION-3070 
	.section-3070.section-gray
		.container
			.side.side_3070_left
				.head
					h2.h2.h2_26.head_h2 Динамика посевных площадей
					.hr.hr_double
				p.text Предусматривающий применение комбинированных схем различных препаратов ведущих мировых производителей: Syngenta, Bayer, BASF. Их инновационные средства защиты, полученные в результате передовых научных разработок, позволяют оптимизировать
				p.text.medium-text Для предупреждения болезней и защиты культур от вредителей предприятия Группы реализуют системный план защитных
			.side.side_3070_right
				.column_graph_yellow
				//-img(src="img/graph1.png", alt="")
	// END SECTION-3070 

	include ./template/vacancy-banner.jade
